body { 
    height: 100vh;
}

header {
    height: 7,5vh;
    background-color: #0E0E0E;   
}

main {
    height: 91vh;
}


footer { 
    height: 3vh;
}







@media (min-width: 576px) {  }


@media (min-width: 768px) {  }


@media (min-width: 992px) {  }


@media (min-width: 1200px) {  }


@media (min-width: 1400px) {  }